.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 500px;
  margin: auto;
}
.submit-form button {
  margin-top: 10px;
  float: right;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}